@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

#Homepage{
    background-color:#ECDBBA ;
    height: 100vh;
}

li{
    list-style: none;
}

li a{
    text-decoration: none;
    color: #2D4263;
    font-family: montserrat alternates;
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    padding: 2rem;
    font-size: 1.2rem;
}

.imgmain{
    width: 50%;
    height: 25%;
    text-align:left;
    padding-top: 3rem;
    rotate: 12deg;
}

.homepageimg{
 display: flex ;
 justify-content: space-around;
}

.homepagetext{
    font-size: 2rem;
    padding-top: 13%;
}

button{
    background-color:#ECDBBA ;
   border-color: #2D4263;
    color: #2D4263;
    margin-top: 2rem;
    padding: 1rem 2rem;
    border-radius: 4rem;
    cursor: pointer;
    font-family: montserrat alternates;
    font-size: 1.2rem;
}